/* Footer */
footer {
    clear: both;
    margin-top: 4rem;
    padding-top: 1.75rem;
    border-top: 1px solid rgba($text-color, .14);
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    margin-top: 1rem;
    color: #77827f;
    text-align: center;
}
